body {
  width: 100%;
  background-color: white;
  /* background-color: hsl(233, 47%, 7%); */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#card-container {
  width: 90%;
  max-width: 1100px;
  color: white;
  background-color: hsl(244, 38%, 16%);
  display: flex;
}

#text-container {
  padding: 35px;
}
#desc-container {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1000px) {
  body {
    background-color: lightblue;
  }
  #card-container {
    width: 90%;
    flex-direction: column-reverse;
  }
}
