body {
  background-color: hsl(233, 47%, 7%);
}

#card-container {
  width: 1000px;
  color: white;
  background-color: hsl(244, 38%, 16%);
  display: flex;
}

#text-container {
  flex-grow: 1;
  padding: 40px;
  width: 50%;
}

#desc-container {
  display: flex;
  justify-content: space-around;
}
