body {
  background-color: hsl(233, 47%, 7%);
}

#card-container {
  width: 900px;
  color: white;
  background-color: hsl(244, 38%, 16%);
  display: flex;
}

#text-container {
  height: auto;
  width: 50%;
  padding: 40px;
}

#stat-image {
  width: 50%;
  height: auto;
}

#desc-container {
  display: flex;
  justify-content: space-around;
}
